@media only screen and (max-width: 1024px) {
    section {
    width: 95%;
    padding: 2%;
    box-sizing: content-box;
    }


    nav{
        display: none;
    }


    .home{
        flex-wrap: wrap;
    }.mainlogo{
        width: 50%;
    }

    .flex{
        flex-wrap: wrap;
    }.flex div{
        width: 100%;

    }
    
    .timeline{
    flex-direction: column;
    padding: 5% 0.5% 20% 0.5%;
    margin: 5% auto;

    }.timeline a{
        border-right: none;
     }


     .contact a{
        width: 100%;
       
    }

    
    .taletblog{
        flex-wrap: wrap;
        padding: 10% 2% 20% 2%;
        margin: 5% auto;
        

    }.imgframe{
        width: 100%;
        height: auto;
    }

    .imgframe a{
        height:30px;
    }

    .imgframe a img{
        height:30px;
    }


    .quality div{
        margin: 3% auto;
    }

    h1{
        font-size: 5vw;
    }

    h2{
        font-size: 4.5vw;
    }

    h3{
        font-size: 4vw;
    }

    h4{
        font-size: 3.5vw;
    }

    
    i{
        font-size: 3.5vw;
    }

    h5{
        font-size: 3vw;
    }

    p{
        font-size: 3.5vw;
    }

    footer{
        margin-top: 50%;
        padding: 10% 2%;  
    }

    .arrow{
        margin:5%;
        position: absolute;
        opacity: 0.2;
    
    }.arrow i{
        font-size: 5vw;
    }

    .switch{
        position: absolute;
        color: var(--black);
        left: 0;
        top: 0;
        margin:2%;
        border-radius: 3px;
        width: 10%;
        height: 2%;
        padding: 3% ;
        border-radius: 30px;
        opacity: 0.8;
        display: flex;
        justify-content: space-evenly;
    
    }

    .switch a i{
        font-size: 3vh;
    }

















  }