@media only screen and (max-width: 1024px) {
    section {
    width: 95%;
    padding: 2%;
    box-sizing: content-box;
    }


    nav{
        display: none;
    }


    .home{
        flex-wrap: wrap;
    }.mainlogo{
        width: 50%;
    }

    .flex{
        flex-wrap: wrap;
    }.flex div{
        width: 100%;

    }
    
    .timeline{
    flex-direction: column;
    padding: 20% 0.5% 20% 0.5%;

    }.timeline a{
        border-right: none;
     }


     .contact a{
        width: 100%;
       
    }

    
    .taletblog{
        flex-wrap: wrap;
        padding: 20% 1%;
        

    }.imgframe{
        width: 100%;
        height: auto;
    }

    .imgframe img{
        height:40px;
    }
















  }