@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
--bg-color:#F0FFFF;
--primary:#035E7B;
--primary2:rgba(3, 94, 123 , 0.3);
--white:#ffffff;
--textgrey:#7e7e7e;
}


html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    background-color: white;
    
}

section{
    width: 60%;
    margin: auto;
}

nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    background-color: var(--white);
    position: fixed;
    z-index: 1;
    
    
}

nav a{
    text-decoration: none;
    color: var(--primary);
}

.mainlogo{
    margin:5% 0%;
    width:20%;
    border: white 1px solid;
    border-radius: 50%;
    background-color: var(--white);
    animation: filter-animation 30s infinite;
    animation-timing-function: ease;
    box-shadow: 
      3px 3px 4px 0 rgba(0, 0, 0, 0.25),
      -2px -2px 3px 0 rgba(255, 255, 255, 0.3);
}


button{
    font-family: 'Mulish', sans-serif;
    width: 100%;
    height:30%;
    padding:0.5% 3% 0.5% 3%;
    align-items: center;
    margin: 1% auto;
    border: none;
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    outline: none;
    font-size: 15px;
    box-shadow: 
    2px 2px 2px 0 rgba(0, 0, 0, 0.25),
    -1px -1px 1.5px 0 rgba(255, 255, 255, 0.3);
    cursor: pointer;
}button div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
}button div a{
    text-decoration: none;
    color: white;
    justify-content: flex-start;
}button div i{
    margin:0% 5% 0% 35%;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    
}.home div{
    padding: 2%;
}

.flex{
    display: flex;
    justify-content: center; 
}.flex div{
    width: 45%;
    margin: 0% 2% 0% 0%;
    padding: 1%;
    
}

.contact{
    padding: 2%;
}.contact a{
    width: 48%;
    height: 30%;
    text-decoration: none;
    cursor: pointer;
    margin: 0.5%;
}
.contact button div{
    width: 98%;
}
.contact .wraper{
    display: flex;
    flex-wrap: wrap;
}

.big{
    padding: 2%;
}.timeline{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
    2px 2px 2px 0 rgba(0, 0, 0, 0.25),
    -1px -1px 1.5px 0 rgba(255, 255, 255, 0.3);
    margin: 1.5% auto;
    border-radius: 5px;
}.timeline img{
   width: 100px;
   height: 100px;
   padding: 1% 2%;
   border-right: 0.5px var(--primary2) solid;
   margin: 0 auto;
   filter: grayscale(100%);
}.timeline div{
    width: 70%;
    padding: 1%;
    margin: 0 auto;
}.timeline img:hover{
    filter: none;
}.timeline h4{
    color: var(--textgrey);
}




h4 span{
    font-weight: 500;
}


h1 , h4{
    margin: 0 auto;
}

h3{
    margin: 0;
}

div{
   border: 0.01px solid rgb(110, 110, 110); 
}



@keyframes filter-animation {
    0% {
      filter: hue-rotate(0deg);
    }

    
    100% {
      filter: hue-rotate(555deg);
    }
  }