@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.light {
    --bg-color:white;
    --primary:#035E7B;
    --primary2:rgba(14, 73, 181 , 0.8);
    --white:#ffffff;
    --textgrey:#7e7e7e;
    --black:#000000;
    --light:#aee6e6;
    --bgwhite:white;
}
  

.dark {
    --bg-color:black;
    --primary:rgb(0, 255, 255);
    --primary2:rgba(0, 255, 255 , 0.7);
    --white:black;
    --textgrey:#7e7e7e;
    --black:white;
    --light: #035E7B;
    --bgwhite:white;
}


body::-webkit-scrollbar {
    width: 1em;
    background: linear-gradient(var(--primary), var(--primary2));
  }

    
body::-webkit-scrollbar-thumb {
    background-color: var(--light);
    border-radius: 2px;
  }



html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    background-color:var(--bg-color);
    box-sizing:border-box;
    overflow-x: hidden;
    max-width:100%;   
    color: var(--black);
    transition: all 0.2s ease-in;
}



section{
    width: 60%;
    margin: auto;
}

nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    background-color: var(--bg-color);
    position: fixed;
    z-index: 1;
    
    
    
}

nav a{
    text-decoration: none;
    color: var(--primary);
    font-weight: 700;
}

nav a:hover{
    color: var(--black);
}

.dropdown{
    color: var(--primary);
    cursor: pointer;
}.dropdown:hover{
    color: var(--black);
}.dropdown:hover .dropdown-content {
    display: block;
}.swt{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    margin: 5px;
}.swt:hover{
    color:var(--white);
}.swt:hover i{
    color:var(--white);
}.dropdown-content {
    display: none;
    position: absolute;
    background-color:var(--primary2);
    min-width: 15%;
    padding: 1%;
    border-radius: 5px;
    z-index: 1;
}.dropdown-content i{
    color: var(--black);
    margin-right: 10px ;
}



.mainlogo{
    margin:5% 0% 0% 0%;
    width:20%;
    border: var(--white) 1px solid;
    border-radius: 50%;
    background-color: var(--bgwhite);
    animation: filter-animation 30s infinite;
    animation-timing-function: ease;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}


button{
    font-family: 'Mulish', sans-serif;
    width: 100%;
    height:30%;
    padding:2% 3% 2% 3%;
    border-radius: 5px;
    align-items: center;
    margin: 1% auto;
    border: none;
    background-color: var(--light);
    color: var(--black);
    display: flex;
    justify-content: center;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}button div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
}button div a{
    text-decoration: none;
    justify-content: flex-start;
}button div i{
    margin:0% 5% 0% 35%;
}

button div h3{
    color: var(--black);
}


button:hover{
    background: var(--primary2);
    transition: 0.5s;
}

.contact{
    padding: 1%;
}.contact a{
    width: 48%;
    height: 30%;
    text-decoration: none;
    cursor: pointer;
    margin: 0.5%;
    
}
.contact button div{
    width: 98%;
    color: var(--black);
}
.contact .wraper{
    display: flex;
    flex-wrap: wrap;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    
}.home div{
    padding: 2%;
}

.flex{
    display: flex;
    justify-content: space-around; 
}.flex div{
    width: 45%;
    margin: 0% 2% 0% 0%;
    padding: 1%;
    
}.flex div h4{
    color: var(--black);
    
}



.big{
    padding: 1%;
}.timeline{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px -1px 1px rgba(122, 122, 122, 0.8),
    1px 1px 1px rgba(58, 58, 58, 0.2);
    margin: 1.5% auto;
    z-index: 2;
    border-radius: 5px;
}.timeline img{
    width: 100px;
    height: 100px;
    
}.timeline a {
   width: 100px;
   height: 100px;
   padding: 1% 2%;
   margin: 0 auto;
   filter: grayscale(100%);
}.timeline div{
    width: 90%;
    padding: 1%;
    margin: 0 auto;
}.timeline a:hover{
    filter: none;
}.timeline h4{
    color: var(--primary2);
}



.taletblog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: -1px -1px 1px rgba(122, 122, 122, 0.8),
    1px 1px 1px rgba(58, 58, 58, 0.2);
    margin: 1% auto;
    padding: 2%;
    flex-wrap: wrap;
}
.imgframe{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2%;
    justify-content: center;
    flex-wrap: wrap;
}.imgframe a{
    margin: 2%;
    padding: 1%;
}.imgframe a img{
    height: 60px;
    filter: grayscale(100%);

}.imgframe a img:hover{
    filter: none;
}


.quality div{
    box-shadow: -1px -1px 1px rgba(122, 122, 122, 0.8),
    1px 1px 1px rgba(58, 58, 58, 0.2);
    margin: 1% auto;
    padding: 1%;
    border-radius: 5px;
}

h4 span{
    font-weight: 500;
}


h1 {
    margin: 0 auto;
    color: var(--black);
    
}

h4{
    margin: 0 auto;
    color: var(--primary2);


}

h3{
    margin: 0;
    color: var(--black);
}

h2{
    color: var(--primary);
    
}

 .box{
   opacity: 0;
   transform: translateY(500px);
   transition: 0.5s all ease-in-out;

}

.into-appear{
    opacity: 1;
    transform: translateY(0px);
   
} 

footer{
    display: block;
    background: var(--primary);
    text-align: center;
    margin-top: 20%;
    padding: 3% 2%;


    
}footer h4{
    color: var(--white);
}

.arrow{
    color: var(--black);
    opacity: 0.1;
    position: fixed;
    margin:1.5%;
    font-size: 5vh;
    animation: jump 1s infinite;
    right: 0;
}


@keyframes jump{
    0%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(20px);
    }
    
}